In [3]:
import pandas as pd
import numpy as np
import re 
import os

In [4]:
filePath = os.path.join('data/DataAnalyst.csv')

In [5]:
df = pd.read_csv(filePath)

In [6]:
df.head(2)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1

In [7]:
# removed spaces and lower cased all column names to make them uniform
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   unnamed:_0         2253 non-null   int64
 1   job_title          2253 non-null   object
 2   salary_estimate    2253 non-null   object
 3   job_description    2253 non-null   object
 4   rating             2253 non-null   float64
 5   company_name       2252 non-null   object
 6   location           2253 non-null   object
 7   headquarters       2253 non-null   object
 8   size               2253 non-null   object
 9   founded            2253 non-null   int64
 10  type_of_ownership  2253 non-null   object
 11  industry           2253 non-null   object
 12  sector             2253 non-null   object
 13  revenue            2253 non-null   object
 14  competitors        2253 non-null   object
 15  easy_apply         2253 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 281.8+ KB

In [57]:
df['lower'] = df['salary_estimate'].apply(lambda x: pd.Series(re.findall(r'\d+',str(x).split('-')[0]),dtype='float64'))
df['upper'] = df['salary_estimate'].apply(lambda x: pd.Series(re.findall(r'\d+',str(x).split('-')[1]),dtype='float64'))

In [82]:
df['city'] = df['location'].apply(lambda x: x.split(',')[0].strip())
df['state'] = df['location'].apply(lambda x: x.split(',')[1].strip())

In [83]:
df['state'].value_counts()

CA          626
TX          394
NY          345
IL          164
PA          114
AZ           97
NC           90
CO           88
NJ           86
WA           54
VA           48
OH           35
UT           33
FL           27
IN           23
DE           11
Arapahoe      8
GA            4
SC            3
KS            3
Name: state, dtype: int64

In [90]:
df['state'] = df['state'].replace('Arapahoe','CO')

In [92]:
df['state'].value_counts()

CA    626
TX    394
NY    345
IL    164
PA    114
AZ     97
CO     96
NC     90
NJ     86
WA     54
VA     48
OH     35
UT     33
FL     27
IN     23
DE     11
GA      4
SC      3
KS      3
Name: state, dtype: int64